body {
  background: linear-gradient(135deg, #0f2027, #203a43);
  color: rgb(252, 252, 252) !important;
}

.card {
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.02),
    rgba(255, 255, 255, 0.01)
  );
  margin-block: 15px;
  color: rgb(202, 201, 201);
  border-radius: 14px;
  padding: 14px;
  border: 1px solid rgba(255, 255, 255, 0.03);
  transition: transform 0.28s ease-in, box-shadow 0.28s ease-out;
  box-shadow: 0 6px 18px rgba(3, 6, 9, 0.45);
  display: flex;
  flex-direction: column;
  gap: 12px;
  cursor: pointer;
}
.card img {
  width: 100%;
  object-fit: cover;
  height: 15rem;
}
.card-body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: space-between;
}
.card-title {
  color: rgb(222, 221, 221);
}

.prime-btn a,
.prime-btn button {
  /* width: 8rem; */
  background: linear-gradient(90deg, #6a11cb, #ff7a59);
  color: white;
  font-weight: bold;
  border: none;
  transition: 0.3s;
}
.prime-btn a:hover,
.prime-btn button:hover {
  background: linear-gradient(90deg, #6a11cb, #ff7a59);
  transform: scale(1.05);
  box-shadow: 0 5px 20px rgba(0, 200, 255, 0.5);
}
.prime-btn .price p {
  background: linear-gradient(90deg, #6a11cb, #ff7a59);
  transition: none;
  color: white;
  margin-bottom: 0px !important;
  /* padding-block: 6px; */
  border-radius: 6px;
  /* padding-inline: 7px; */
  box-shadow: 0 20px 50px rgba(3, 6, 9, 0.55);
  font-weight: bold;
  font-size: 1.1rem;
  padding: 7px 11px;
}
/* .prime-btn .price p:hover {
  background: linear-gradient(90deg, #6a11cb, #ff7a59);
  transform: none;
  box-shadow: none;
} */

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 50px rgba(3, 6, 9, 0.55);
  color: rgb(231, 231, 231);
}

/* .card:hover {
  transform: scale(1.05);  
  box-shadow: 0 20px 50px rgba(3, 6, 9, 0.55);
  color: rgb(231, 231, 231);
} */

/* add product form */

.addproduct-form label {
  color: rgb(239, 239, 239);
}
.addproduct-form input::placeholder,
.addproduct-form textarea::placeholder {
  color: rgb(194, 192, 192);
}

.addproduct-form input,
.addproduct-form textarea,
.addproduct-form select,
.select-color input,
.select-color textarea,
.select-color select {
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.03);
  outline: none;
  background: rgba(255, 255, 255, 0.1);
  transition: 0.3s;
  color: rgb(237, 235, 235);
  font-size: 1rem;
}

.addproduct-form input:focus,
.addproduct-form textarea:focus,
.addproduct-form select:focus,
.select-color input:focus,
.select-color textarea:focus,
.select-color select:focus {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
  color: rgb(237, 235, 235);
  font-size: 1.1rem;
}
.addproduct-form input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px rgb(44, 62, 69) inset !important;
  -webkit-text-fill-color: white !important;
  transition: background-color 5000s ease-in-out 0s; /* Prevent flash */
}

/* Autofill fix for Firefox */
.addproduct-form input:autofill {
  background: rgb(44, 62, 69) !important;
  color: white !important;
}
.form-floating option,
.select-color option {
  background-color: #172b31;
}
.form-floating .form-select {
  padding-top: 8px !important;
}

.drop-icon i {
  margin-left: auto;
  margin-top: -2.3rem;
  margin-right: 1.5rem;
}

/* redirect from product to product details page */

.card-btn {
  border: none;
  background: none;
  padding: none;
  width: 100%;
  text-align: inherit;
}
.card-btn:focus {
  outline: none;
}
.product-fluid-img {
  box-shadow: 0 5px 10px rgba(0, 200, 255, 0.5);
}
.img-fluid {
  width: 100% !important;
  object-fit: cover;
  height: 25rem;
  border-radius: 7px;
}
.product-fluid-sub-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 5px;
}
.product-fluid-sub-img img {
  width: 5rem;
  height: 4rem;
  background-color: #ff7a59;
  object-fit: cover;
  border-radius: 5px;
  cursor: pointer;
}

.varient-main {
  box-shadow: 0 5px 10px rgba(0, 200, 255, 0.5);
}

.color-main{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.color{
  width: 40px;
  height: 40px;
  border-radius: 50%;
 
   
}
.color-main input {
    width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: none !important;
  cursor: pointer;
  /* border: 4px solid green; */
  }
/* .color-main input:focus {
  border: 4px solid white;
  
} */

 
.product-description-para {
  font-size: 1rem !important;
}

.inner-prime-btn {
  display: none !important;
}

/* select quantity css */

* {
  box-sizing: border-box;
}

/* body {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  background-color: #f0f0f0;
} */

.quantity {
  display: flex;
  width: auto;
  margin-left: 2rem;
  margin-top: 1rem;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.quantity button {
  background-color: #435663;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 20px;
  width: 30px;
  height: auto;
  text-align: center;
  transition: background-color 0.2s;
}

.quantity button:hover {
  background: linear-gradient(90deg, #6a11cb, #ff7a59);
}
.quantity input{
  background-color: #172b31;
  color: white;
  
}

.input-box {
  width: 40px;
  text-align: center;
  border: none;
  padding: 8px 10px;
  font-size: 16px;
  outline: none;
}

/* Hide the number input spin buttons */
.input-box::-webkit-inner-spin-button,
.input-box::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input-box[type="number"] {
  appearance: textfield;          /* Standard property */
  -moz-appearance: textfield;     /* For Firefox */
  -webkit-appearance: textfield;  /* For Chrome, Safari, Edge */
}


/* Order Confirm page  */

.orderconfirm-main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.orderconfirm {
  border: 2px solid deepskyblue;
  box-shadow: 0 5px 10px rgba(0, 200, 255, 0.5);
  background-color: #0f2027;
  text-align: center;
  border-radius: 10px;
}
.orderconfirm i {
  font-size: 3rem;
}

.select-colors, 
.select-sizes {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.select-colors input{
  height: 2.4rem;
}
.select-colors input:hover {
  cursor: pointer;
}

.color-container,
.size-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.color-box {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
}
.color-box.selected {
  border: 2px solid rgb(67, 208, 233);
  padding: 3px;
}

.size-box{
  color: white;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;

  border: 1px solid rgb(206, 205, 205);
  padding-inline: 6px;
  padding-block: 2px;
  border-radius: 5px;
}
.size-box:hover{
  cursor: pointer;
}
.size-box.selecteds{
  border: 2px solid rgb(67, 208, 233);
  padding-inline: 6px;
  padding-block: 2px;
}

.sub-img-container{
  width: 92.5%;
}
.sub-img-container input{
  width: 44%;
  margin-bottom: 8px;
}
.size,
.select-size-varient {
  width: 60px;
  height: 40px;
  background-color:#203a43;
  color: white;
  border-radius: 10px;
  text-align: center;
  border: none;
  cursor: pointer;
}



/* cutomer page order product data */

.order-img{
  object-fit: cover;
}
.order-img img{
  width: 100%;
  height: auto !important;
}