<% layout("/layouts/biolerplate") %>

<body>
  <div class="row orderconfirm-main">
    <div class="orderconfirm col-sm-8 col-md-8 col-lg-5" data-aos="fade-down" data-aos-duration="3000">
      <i class="fa-solid fa-circle-check mt-3 px-2" style="color: #118c08"></i>
      <h4 class="my-4 px-2">Order Confirm!</h4>
      <p class="pb-2 px-2">
        Thanks for your purchase! Your order is confirmed and will be delivered
        soon.
      </p>
      <div class="prime-btn my-4 d-flex justify-content-center">
       
          <a href="/products" class="text-decoration-none rounded-2">
            <button class="btn btn-primary">OK</button>
          </a>
        
      </div>
    </div>
  </div>
</body>
